################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/x64
/Win32
*/x64
*/Win32
/vcpkg_installed

